In [304]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [256]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
92,tt2554274,55000000,74679822,Crimson Peak,Mia Wasikowska|Jessica Chastain|Tom Hiddleston...,Guillermo del Toro,Beware.,"In the aftermath of a family tragedy, an aspir...",119,Mystery|Thriller|Fantasy|Horror|Drama,Legendary Pictures,10/13/2015,6.4,2015
1565,tt0317705,92000000,631442092,The Incredibles,Craig T. Nelson|Holly Hunter|Samuel L. Jackson...,Brad Bird,"No gut, no glory",Bob Parr has given up his superhero days to lo...,115,Action|Adventure|Animation|Family|Science Fiction,Walt Disney Pictures|Pixar Animation Studios,11/5/2004,7.2,2004
417,tt1013743,117000000,261930431,Knight and Day,Tom Cruise|Cameron Diaz|Peter Sarsgaard|Viola ...,James Mangold,Every Hit Man Deserves a Second Shot!,A fugitive couple goes on a glamorous and some...,109,Action|Comedy,Tree Line Films|Twentieth Century Fox Film Cor...,6/15/2010,5.9,2010
1516,tt0443489,70000000,154937680,Dreamgirls,Jamie Foxx|BeyoncÃ© Knowles|Eddie Murphy|Danny...,Bill Condon,One Dream Will Change Everything,"Three young women â€“ Deena Jones, Effie White...",134,Drama,Paramount Pictures|DreamWorks SKG|Laurence Mar...,12/25/2006,6.5,2006
461,tt0808510,48000000,112462508,Tooth Fairy,Dwayne Johnson|Stephen Merchant|Ashley Judd|Ju...,Michael Lembeck,You can't handle the tooth.,When minor-league hockey player Derek Thompson...,101,Comedy|Family|Fantasy,Dune Entertainment|Dune Entertainment III|Twen...,1/14/2010,5.2,2010

In [257]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [258]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)
data['month'] = data.apply(lambda x: x['release_date'].split('/')[0], axis=1)
data['overview_words_length'] = data.apply(lambda x: len(x['overview'].split(' ')), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [259]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [260]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5,75

ВАРИАНТ 2

In [261]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [262]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [263]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [264]:
answers['3'] = 'Winnie the Pooh'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,4,52

# 4. Какова средняя длительность фильмов?

In [265]:
answers['4'] = 110
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [266]:
answers['5'] = 107
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [267]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12,28

# 7. Какой фильм самый убыточный?

In [268]:
answers['7'] = 'The Lone Ranger'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [269]:
answers['8'] = 1478
data[data.revenue > data.budget].count()

imdb_id                  1478
budget                   1478
revenue                  1478
original_title           1478
cast                     1478
director                 1478
tagline                  1478
overview                 1478
runtime                  1478
genres                   1478
production_companies     1478
release_date             1478
vote_average             1478
release_year             1478
profit                   1478
month                    1478
overview_words_length    1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [270]:
answers['9'] = 'The Dark Knight'
revenue_max_2008 = data[data.release_year == 2008]['revenue'].max()
data[(data.release_year == 2008) & (data.revenue == revenue_max_2008)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [271]:
answers['10'] = 'The Lone Ranger'
profit_min = data[(data.release_year >2012) & (data.release_year <= 2014)]['profit'].min()
data[(data.profit == profit_min)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7,68

# 11. Какого жанра фильмов больше всего?

In [272]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [273]:
answers['12'] = 'Drama'
genres = set(data.genres.str.cat(sep='|').split('|'))
pd.Series({x: (data[(data.genres.str.contains(x)) & data.profit > 0].genres.count()) for x in genres}
         ).sort_values(ascending=False)

Drama              375
Comedy             329
Thriller           288
Action             283
Adventure          183
Romance            161
Crime              150
Family             121
Science Fiction    118
Fantasy            105
Horror              93
Mystery             84
Animation           66
Music               31
War                 30
History             26
Western             14
Documentary          4
Foreign              0
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [274]:
answers['13'] = 'Peter Jackson'
data.groupby(['director']).sum().sort_values('revenue')

,budget,revenue,runtime,vote_average,release_year,profit,overview_words_length
director,,,,,,,
Simon Hunter,8000000,2033165,111,5.1,2008,-5966835,67
Keanu Reeves,25000000,2054941,105,5.6,2013,-22945059,16
Paul Schrader,7000000,2062066,104,5.9,2002,-4937934,70
Steven Shainberg,16800000,2281089,122,6.3,2006,-14518911,66
David MichÃ´d,12250000,2295423,100,6.0,2014,-9954577,36
...,...,...,...,...,...,...,...
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916,313
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960,499
David Yates,775000000,4154295625,567,29.6,8037,3379295625,177
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502,388
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685,363

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [275]:
answers['14'] = 'Robert Rodriguez'
directors = set(data.director.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                    (data.director.str.contains(x)) & data.genres.str.contains('Action')
                    ].director.count()) for x in directors}
         ).sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Marcus Raboy          0
David Mackenzie       0
Will Graham           0
Conrad Vernon         0
Sofia Coppola         0
Length: 997, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [276]:
answers['15'] = 'Chris Hemsworth'
casts = set(data.cast.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                    (data.release_year == 2012) & (data.cast.str.contains(x))
                   ].revenue.sum()
              ) for x in casts}
         ).sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Chris Evans           1519557910
Scarlett Johansson    1519557910
                         ...
Jonathan Tucker                0
Ben Barnes                     0
Clancy Brown                   0
Sherry Miller                  0
Britt Robertson                0
Length: 3406, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [277]:
answers['16'] = 'Matt Damon'
high_budget = data[data.budget > data.budget.mean()]
casts = set(high_budget.cast.str.cat(sep='|').split('|'))
pd.Series({x: (high_budget[high_budget.cast.str.contains(x)].director.count()
              ) for x in casts}).sort_values(ascending=False)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Samuel L. Jackson        15
                         ..
Yuliya Snigir             1
AdriÃ¡n Alonso Barona     1
Ted Levine                1
Noah Schnapp              1
Britt Robertson           1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [278]:
answers['17'] = 'Action'
nicolas_films = data[data.cast.str.contains('Nicolas Cage')]
genres = set(nicolas_films.genres.str.cat(sep='|').split('|'))
pd.Series({x: (nicolas_films[nicolas_films.genres.str.contains(x)].director.count()
              ) for x in genres}).sort_values(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [279]:
answers['18'] = 'K-19: The Widowmaker'
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7,23
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261,11,31
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987,4,95
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061,10,57
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000,2,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,12/7/2011,6.7,2011,549713380,12,103
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007,559709780,6,42
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033,5,74
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009,686297228,6,32
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,6.1,2011,928746996,6,51

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [280]:
answers['19'] = 2015
data.groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [281]:
answers['20'] = 2014
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum().sort_values()

release_year
2000    1025531386
2006    1521170743
2015    1691168351
2002    1702709901
2012    1869520056
2001    2266545668
2005    2412980298
2013    2599953400
2004    2731933725
2009    2737954136
2003    2745493377
2011    2845393682
2010    3008712985
2008    3050595031
2007    3183675217
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [282]:
answers['21'] = 'Сентябрь'
data.groupby(['month']).imdb_id.count().sort_values()

month
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    190
9     227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [283]:
answers['22'] = 450
data[data.month.isin(['6', '7', '8'])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [284]:
answers['23'] = 'Peter Jackson'
winter_data = data[data.month.isin(['1', '2', '12'])]
directors = set(winter_data.director.str.cat(sep='|').split('|'))
pd.Series({x: (winter_data[
                    (winter_data.director.str.contains(x))
                    ].director.count()) for x in directors}
         ).sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
Jake Kasdan          1
Charles Stone III    1
Will Gluck           1
Angelina Jolie       1
Russell Crowe        1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [359]:
answers['24']='Four By Two Productions'
companies = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                (data.production_companies.str.contains(x))
                ].original_title.str.len().mean()
              ) for x in companies
          }
).sort_values(ascending=False)

Four By Two Productions                        83.0
Jim Henson Company, The                        59.0
Dos Corazones                                  47.0
Museum Canada Productions                      46.0
Polsky Films                                   46.0
                                               ...
Parkway Pictures (I)                            NaN
Warner Independent Pictures (WIP)               NaN
Baumgarten Management and Productions (BMP)     NaN
Dimension Films (US version)                    NaN
Monolith Pictures (III)                         NaN
Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [286]:
answers['25'] = 'Midnight Picture Show'
companies = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                (data.production_companies.str.contains(x))
                ].overview_words_length.mean()
              ) for x in companies
          }
).sort_values(ascending=False)

Midnight Picture Show                          175.0
Room 9 Entertainment                           161.0
Heineken Branded Entertainment                 161.0
98 MPH Productions                             159.0
Brookwell-McNamara Entertainment               156.0
                                               ...
Parkway Pictures (I)                             NaN
Warner Independent Pictures (WIP)                NaN
Baumgarten Management and Productions (BMP)      NaN
Dimension Films (US version)                     NaN
Monolith Pictures (III)                          NaN
Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [301]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data.sort_values('vote_average', ascending=False).head(data.imdb_id.count()//100)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,overview_words_length
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7,67
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,11,35
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,11,46
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,6,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,10,49
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,12,29
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,10,30
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,10,61
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,7,28
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,12,45
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,10,78
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,7,44
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,9,39
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,2,66
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013,24351251,12,65
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015,68346473,11,30
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014,487105443,10,29
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014,293151265,5,47

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [356]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
pd.Series(data.cast.apply(lambda x: list(combinations(x.split('|'), 2))).sum()).value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Johnny Depp, Helena Bonham Carter)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Boyd Holbrook, Bruce McGill)          1
(Hilary Swank, Gina Gershon)           1
(Rupert Grint, Julie Walters)          1
(Simon Pegg, Paula Patton)             1
(Adam Sandler, Josh Gad)               1
Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [357]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Warner Bros.',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [360]:
# и убедиться что ни чего не пропустил)
len(answers)

27