# Загрузка Pandas и очистка данных

In [54]:
import pandas as pd

In [55]:
df = pd.read_csv('main_task.csv')

In [97]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки
df.info(max_cols=200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 161 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cuisine Style        40000 non-null  int64
 1   Ranking              40000 non-null  float64
 2   Rating               40000 non-null  float64
 3   Price Range          40000 non-null  float64
 4   Number of Reviews    40000 non-null  float64
 5   Amsterdam            40000 non-null  uint8
 6   Athens               40000 non-null  uint8
 7   Barcelona            40000 non-null  uint8
 8   Berlin               40000 non-null  uint8
 9   Bratislava           40000 non-null  uint8
 10  Brussels             40000 non-null  uint8
 11  Budapest             40000 non-null  uint8
 12  Copenhagen           40000 non-null  uint8
 13  Dublin               40000 non-null  uint8
 14  Edinburgh            40000 non-null  uint8
 15  Geneva               40000 non-null  uint8
 16  Hamburg              40000 non-null  uint8
 17  Helsinki             40000 non-null  uint8
 18  Krakow               40000 non-null  uint8
 19  Lisbon               40000 non-null  uint8
 20  Ljubljana            40000 non-null  uint8
 21  London               40000 non-null  uint8
 22  Luxembourg           40000 non-null  uint8
 23  Lyon                 40000 non-null  uint8
 24  Madrid               40000 non-null  uint8
 25  Milan                40000 non-null  uint8
 26  Munich               40000 non-null  uint8
 27  Oporto               40000 non-null  uint8
 28  Oslo                 40000 non-null  uint8
 29  Paris                40000 non-null  uint8
 30  Prague               40000 non-null  uint8
 31  Rome                 40000 non-null  uint8
 32  Stockholm            40000 non-null  uint8
 33  Vienna               40000 non-null  uint8
 34  Warsaw               40000 non-null  uint8
 35  Zurich               40000 non-null  uint8
 36  Italian              40000 non-null  int64
 37  French               40000 non-null  int64
 38  Spanish              40000 non-null  int64
 39  European             40000 non-null  int64
 40  Cafe                 40000 non-null  int64
 41  Pizza                40000 non-null  int64
 42  Portuguese           40000 non-null  int64
 43  Chinese              40000 non-null  int64
 44  Mediterranean        40000 non-null  int64
 45  Bar                  40000 non-null  int64
 46  Pub                  40000 non-null  int64
 47  Indian               40000 non-null  int64
 48  Vegetarian Friendly  40000 non-null  int64
 49  Fast Food            40000 non-null  int64
 50  International        40000 non-null  int64
 51  Japanese             40000 non-null  int64
 52  Sushi                40000 non-null  int64
 53  Czech                40000 non-null  int64
 54  American             40000 non-null  int64
 55  Asian                40000 non-null  int64
 56  British              40000 non-null  int64
 57  Greek                40000 non-null  int64
 58  Thai                 40000 non-null  int64
 59  German               40000 non-null  int64
 60  Seafood              40000 non-null  int64
 61  Vietnamese           40000 non-null  int64
 62  Turkish              40000 non-null  int64
 63  Mexican              40000 non-null  int64
 64  Vegan Options        40000 non-null  int64
 65  Gluten Free Options  40000 non-null  int64
 66  Polish               40000 non-null  int64
 67  Austrian             40000 non-null  int64
 68  Hungarian            40000 non-null  int64
 69  Wine Bar             40000 non-null  int64
 70  Lebanese             40000 non-null  int64
 71  Central European     40000 non-null  int64
 72  Contemporary         40000 non-null  int64
 73  Belgian              40000 non-null  int64
 74  Steakhouse           40000 non-null  int64
 75  Korean               40000 non-null  int64
 76  Healthy              40000 non-null  int64
 77  Delicatessen         40000 non-null  int64
 78  Middle Eastern       40000 non-null  int64
 79  African              40000 non-null  int64
 80  Moroccan             40000 non-null  int64
 81  Barbecue             40000 non-null  int64
 82  Dutch                40000 non-null  int64
 83  Fusion               40000 non-null  int64
 84  Irish                40000 non-null  int64
 85  Peruvian             40000 non-null  int64
 86  South American       40000 non-null  int64
 87  Brazilian            40000 non-null  int64
 88  Swiss                40000 non-null  int64
 89  Swedish              40000 non-null  int64
 90  Grill                40000 non-null  int64
 91  Brew Pub             40000 non-null  int64
 92  Danish               40000 non-null  int64
 93  Eastern European     40000 non-null  int64
 94  Indonesian           40000 non-null  int64
 95  Pakistani            40000 non-null  int64
 96  Scandinavian         40000 non-null  int64
 97  Gastropub            40000 non-null  int64
 98  Street Food          40000 non-null  int64
 99  Halal                40000 non-null  int64
 100 Ethiopian            40000 non-null  int64
 101 Latin                40000 non-null  int64
 102 Central American     40000 non-null  int64
 103 Russian              40000 non-null  int64
 104 Caribbean            40000 non-null  int64
 105 Diner                40000 non-null  int64
 106 Argentinean          40000 non-null  int64
 107 Nepali               40000 non-null  int64
 108 Soups                40000 non-null  int64
 109 Jamaican             40000 non-null  int64
 110 Persian              40000 non-null  int64
 111 Scottish             40000 non-null  int64
 112 Bangladeshi          40000 non-null  int64
 113 Cuban                40000 non-null  int64
 114 Slovenian            40000 non-null  int64
 115 Norwegian            40000 non-null  int64
 116 Arabic               40000 non-null  int64
 117 Cambodian            40000 non-null  int64
 118 Balti                40000 non-null  int64
 119 Croatian             40000 non-null  int64
 120 Cajun & Creole       40000 non-null  int64
 121 Minority Chinese     40000 non-null  int64
 122 Georgian             40000 non-null  int64
 123 Israeli              40000 non-null  int64
 124 Colombian            40000 non-null  int64
 125 Tunisian             40000 non-null  int64
 126 Taiwanese            40000 non-null  int64
 127 Sri Lankan           40000 non-null  int64
 128 Tibetan              40000 non-null  int64
 129 Venezuelan           40000 non-null  int64
 130 Filipino             40000 non-null  int64
 131 Mongolian            40000 non-null  int64
 132 Romanian             40000 non-null  int64
 133 Afghani              40000 non-null  int64
 134 New Zealand          40000 non-null  int64
 135 Egyptian             40000 non-null  int64
 136 Malaysian            40000 non-null  int64
 137 Australian           40000 non-null  int64
 138 Kosher               40000 non-null  int64
 139 Ecuadorean           40000 non-null  int64
 140 Hawaiian             40000 non-null  int64
 141 Albanian             40000 non-null  int64
 142 Ukrainian            40000 non-null  int64
 143 Azerbaijani          40000 non-null  int64
 144 Singaporean          40000 non-null  int64
 145 Burmese              40000 non-null  int64
 146 Central Asian        40000 non-null  int64
 147 Latvian              40000 non-null  int64
 148 Chilean              40000 non-null  int64
 149 Armenian             40000 non-null  int64
 150 Caucasian            40000 non-null  int64
 151 Southwestern         40000 non-null  int64
 152 Uzbek                40000 non-null  int64
 153 Canadian             40000 non-null  int64
 154 Polynesian           40000 non-null  int64
 155 Native American      40000 non-null  int64
 156 Welsh                40000 non-null  int64
 157 Fujian               40000 non-null  int64
 158 Yunnan               40000 non-null  int64
 159 Salvadoran           40000 non-null  int64
 160 Xinjiang             40000 non-null  int64
dtypes: float64(4), int64(126), uint8(31)
memory usage: 40.9 MB

In [57]:
price_dict = {'$': 1, '$$ - $$$': 2.5, '$$$$': 4}
df['Price Range'] = df['Price Range'].replace(to_replace = price_dict)

In [58]:
df = pd.concat([df, pd.get_dummies(df['City'])], axis = 1)

In [62]:
cuisine_count = {}
for cuisines in df['Cuisine Style'].value_counts().index:
    for cuisine in cuisines.strip("[]").replace("'", "").split(', '):
        if cuisine in cuisine_count:
            cuisine_count[cuisine] += 1
        else:
            cuisine_count[cuisine] = 1

df['Cuisine Style'] = df['Cuisine Style'].fillna("['Vegetarian Friendly']")

df['Cuisine Style'] = df['Cuisine Style'].apply(lambda x: len(x.split(',')))

def find_item(cell):
    if type(cell) == str:
        if item in cell:
            return 1
    return 0

for item in cuisine_count.keys():
    df[item] = df['Cuisine Style'].apply(find_item)

In [64]:
df.drop(['City', 'Reviews', 'URL_TA', 'ID_TA'], axis = 1, inplace = True)

In [90]:
df['Number of Reviews'].fillna(df['Number of Reviews'].mode()[0], inplace = True)

In [93]:
df['Price Range'].fillna(df['Price Range'].mode()[0], inplace = True)

,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Amsterdam,Athens,Barcelona,Berlin,Bratislava,...,Southwestern,Uzbek,Canadian,Polynesian,Native American,Welsh,Fujian,Yunnan,Salvadoran,Xinjiang
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
39999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [99]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [100]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [101]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [102]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [103]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [104]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.21347999999999998